{% extends "axfApp/base/base.html" %}
{% load static %}

{% block title %}闪送超市{% endblock title %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'axfApp/market/css/market.css' %}">
{% endblock link %}

{% block script %}
    <script type="application/javascript" src="{% static 'axfApp/market/js/market.js' %}"></script>
{% endblock script %}

{% block main %}
    <div id="marketDiv" class="containe">
        <div class="col-xs-3" id="leftDiv">
            <ul>
                {% for item in categories %}
                <li>
                    <span class="yellow {{ item.categoryId }}"></span>
                    <a href="/axf/market/{{ item.categoryId }}/">
                        {{ item.categoryName }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-9" id="rightDiv">
            <div class="container-fluid" id="rightTopDiv">
                <div class="col-xs-6"><span>全部分类<span class="glyphicon glyphicon-chevron-down"></span></span></div>
                <div class="col-xs-6"><span>综合排序<span class="glyphicon glyphicon-chevron-down"></span></span></div>
            </div>

            <div id="rightBottomDiv">

                <ul>
                    {% for item in products %}
                    <li>
                        <a href="#">
                            <img src="{{ item.img }}">
                            <div>
                                <h6>{{ item.name }}</h6>
                                <p>{{ item.specifics }}</p>
                                <p><span>{{ item.price }}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span>{{ item.marketPrice }}</span></p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock main %}